%nav.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    #quicknav
      = link_to t(:cover_page), @book.cover_page.path, id: 'cover_page_link'
      = link_to [t(:page), @book.first_page.number].join(' '), @book.first_page.path, id: 'first_page_link'
      = link_to [t(:page), @book.last_page.number].join(' '), @book.last_page.path, id: 'last_page_link'
    #search_history
      - @search_history.is_a?(Array) && @search_history.each do |query|
        = link_to(query, "/#{query}")
    #search_form
      = form_tag('/search') do
        %fieldset
          .control-group.string
            .controls
              = hidden_field_tag('book_slug', @book.slug, {id: 'search_book'})
              = text_field_tag(:query, current_search, tabindex: 1, dir: :auto)
          = button_tag(type: 'submit', tabindex: 2) do
            - content_tag(:i, class: 'icon-ok icon-white')
            - t(:search)
