#sidebar{class: "{title:'#{t(:dictionaries)}'}"}
  = form_tag('/books') do
    %ul
      - @books.each do |book|
        %li
          = radio_button_tag 'book', book.full_name, (book.full_name == @book.full_name)
          = hidden_field_tag 'from_book', @book.full_name, id: "from_book_#{@book.full_name}"
          = hidden_field_tag 'from_page', @page.number, id: "from_page_#{@page.number}"
          = label_tag "book_#{book.full_name}", book.human_name
    = button_tag(type: 'submit', class: 'btn btn-primary', tabindex: 2) do
      - content_tag(:i, class: 'icon-ok icon-white')
      - t(:dictionaries)

