!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= t(:htmltitle, {book: @book.human_name, page: @page.number})
    = favicon_link_tag
    = stylesheet_link_tag 'application', media: 'all'#, 'data-turbolinks-track' => true
    = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main
      = render 'layouts/sidebar'
      = render 'layouts/messages'
      #book{data: @book.serialize}= yield
